/***************************************************************/
/* 背景画像                                                    */
/***************************************************************/
body {
  background-image : url("../img/background.jpg");
}

/***************************************************************/
/* ヘッダー                                                    */
/***************************************************************/
header {
  color            : #ffffff;
  padding          : 8px;
  background-color : #339933;
  text-align       : center;
}

/***************************************************************/
/* ナビゲータ                                                  */
/***************************************************************/
nav {
  color            : #ffffff;
  padding          : 1px;
  background-color : #99cc33;
}

ul {
  margin: 0 auto;
  display          : flex;
  list-style       : none;
}

ul li {
  margin-left      : 2em;                   /* 2文字分の余白 */
  text-decoration: none;
  text-align: center;
  width: 100%;
}

/***************************************************************/
/* ソースコード用の枠                                          */
/***************************************************************/
.SorceCode {
  border           : #ff69b4 solid 1px;
  font-size        : 100%;
  padding          : 15px;
  width            : 1200px;
  background-color :#FFFFFF;
}

/***************************************************************/
/* フッター                                                    */
/***************************************************************/
.wrapper{
  min-height       : 98vh;                  /* 少なくとも、表示領域と同じ(viewport height 100%)にする  */
  position         : relative;              /* 相対位置         */
  padding-bottom   : 120px;                 /* footerの高さ     */
  box-sizing       : border-box;
}

footer{
  width            : 100%;
  background-color : #89c7de;
  color            : #fff;
  text-align       : center;
  padding          : 10px 0;

  position         : absolute;              /* 絶対位置    */
  bottom           : 0;                     /* 下に固定    */
}

/***************************************************************/
/* メニュー画像                                                 */
/***************************************************************/
.menuimg img {
  width            : 100%;
  height           : 130px;
}

/***************************************************************/
/* コンテンツ用の表示形態                                      */
/***************************************************************/
.Content1 {
  border           : #ff69b4 solid 1px;
  padding          : 8px;
}

.Content2 {
  border           : #ff69b4 solid 1px;
  padding          : 8px;
}

.Content3 {
  border           : #ff69b4 solid 1px;
  padding          : 8px;
}

.Content4 {
  border           : #ff69b4 solid 1px;
  padding          : 8px;
}

/***************************************************************/
/* Topページ画像                                               */
/***************************************************************/
.Content2 img {
  width            : 700px;
  height           : auto;
  border           : #ff69b4 solid 1px;
}
